@charset "UTF-8";

html {
  font-size: 62.5%;
}
body {
  margin: 0 0;
  font-size: 1.4rem;
  font-family: "DotGothic16", sans-serif;
  background-color: rgb(16, 0, 16);
  transition: 0.1s;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  padding: 20px 0;
  z-index: 1;
}

header .icon {
  display: block;
  width: 60px;
  text-align: center;
  color: white;
  margin: 20px;
}

header .icon p {
  margin: 0;
}

header img {
  width: 50px;
}

header .icon span {
  color: white;
  display: inline-block;
  font-size: 5rem;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  background: url(../img/3155.jpg);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  z-index: -3;
}

main {
  height: 100vh;
  width: 1000px;
  margin: 0 auto;
}

.mini-window {
  cursor: pointer;
  box-shadow: 2px 2px 2px;
  border: 2px solid rgb(238, 220, 255);
  position: absolute;
  top: 15%;
  left: 25%;
  display: none;
  z-index: 3;
}

.alert {
  display: block;
  background-color: #eeeeee;
  width: 400px;
  line-height: 40px;
  font-size: 1.4rem;
  top: 40%;
  left: 40%;
}

.alert p {
  line-height: 1.5rem;
}

.alert .coment {
  display: flex;
  align-items: center;
  width: 300px;
  margin: 0 auto;
}

.alert .coment img {
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 30px;
}

.mini-window .batu {
  text-align: center;
  line-height: 15px;
  width: 30px;
  height: 30px;
  font-size: 20px;
  position: absolute;
  right: 0px;
  text-decoration: none;
  color: white;
  background-color: rgb(120, 47, 189);
  border-top: 5px solid rgb(171, 110, 229);
  border-right: 5px solid rebeccapurple;
  border-bottom: 5px solid rgb(82, 46, 117);
  border-left: 5px solid rgb(220, 186, 251);
}
.mini-header {
  background-color: rgb(120, 47, 189);
  height: 40px;
  color: white;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
}

.mini-main {
  background-color: rgb(238, 220, 255);
  border: 3px solid rgb(120, 47, 189);
  text-align: center;
  padding-bottom: 1rem;
  z-index: 0;
}

.mini-main .yes-btn {
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  width: 60px;
  border-top: 3px solid rgb(242, 229, 255);
  border-right: 3px solid rgb(145, 110, 180);
  border-bottom: 3px solid rgb(144, 105, 183);
  border-left: 3px solid rgb(250, 245, 255);
}

.mini-main .main-img {
  display: block;
  width: 80%;
  margin: 10px auto;
}

.box {
  width: 1000px;
  height: 1000px;
  margin: 0 auto;
}

.s {
  width: 200px;
}

.m {
  width: 300px;
}

.l {
  width: 400px;
}

.shadow {
  display: none;
}

.images {
  display: flex;
  justify-content: start;
}

.images .image-content {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: flex;
  text-align: center;
  flex-direction: column;
}
.images .image-content p {
  margin: 0;
}

.images .image-content img {
  margin: 0 auto;
  width: 60px;
  height: 60px;
}

.window {
  top: 10%;
  left: 15%;
  display: none;
}

.window .mini-main {
  width: 700px;
  height: 500px;
}

.image-window {
  width: 700px;
}

.image-window-damy {
  display: none;
}

.info ul {
  list-style: none;
}

.info ul li {
  text-align: left;
}

.info ul li a {
  pointer-events: none;
}
